.container {
  /* box-sizing: border-box; */
  background-color: rgba(6, 11, 23, 1);
  height: 100dvh;
  padding: 32px 32px 100px 32px;
  position: relative;
}

p {
  margin: 0;
}

.show-hide-button {
  position: absolute;
  top: 32px;
  left: 32px;
  z-index: 1000;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}